.paper{

   &>.MuiPaper-root{
    display: none !important;
  }

}

.appointment {
background: green !important;
}

.cellText{
  opacity: 0;
  width: 100%;
  height: 100%;
  color: rgba(16, 16, 16, 0);
  line-height: 100%;
  text-align: center;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    color: rgba(16, 16, 16, 0.32);
    opacity: 1;
    cursor: pointer;
  }

}