$small: 640px;
$medium: 900px;

.wrapper {

  @media screen and (max-width: $small) {
    display: none;
  }

  header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    background: #3787d7;
    color:#fff;
  }

  .container{
    display: flex;
    border-top: 1px solid lightgray;
  }
}

.mobileVersion {
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: lightgray;
  h1{
    font-weight: 500;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.84);
  }
  @media screen and (min-width: $small) {
    display: none;
  }
}